__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
chroma_db/
documents/*.pdf
documents/*.docx
*.log
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.spec
.streamlit/secrets.toml
.streamlit/.credentials
.streamlit/config.toml